<table class="w-full" align="center">
  <tr>
    <td valign="top" align="left" style="padding:0px 0px 0px 0px">
      <table cellspacing="0" cellpadding="0" border="0" align="center" width="92%">
        <tr>
        <td valign="top" align="left" style="padding-right:15px;"><img src="src\images\img-1.jpg" style="display: block;" width="110" height="auto" border="0"></td>
        <td valign="middle" align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;line-height: 14px; color: #002B2B;">Ut enim ad minim veniam, quis nostrud exercitation 
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
        </tr>
        
        </table>

    </td>
  </tr>
</table>
